.red{
	color: #EF5350;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
	background-color: #ff8a65;
    color: rgba(255,255,255,0.87);
}

.material-icons.md-48 { font-size: 48px; }

.md-button.md-default-theme.md-fab, .md-button.md-fab{
	background-color: #4CAF50;
}

.md-toolbar-tools a {
    color: #fff;
    font-size:large;
    font-family: Rajdhani,sans-serif;
    letter-spacing:1px;
}