<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="initial-scale=1" />
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
        <script type="text/javascript" src="index.js"></script>
        <link href="css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700" rel="stylesheet" type='text/css'>
	</head>
	<body ng-app="subheaderBasicDemo" ng-controller="SubheaderAppCtrl" style="background-color:#424242">
		<div hide-lg hide-md hide-sm layout="row" flex="33" flex-sm="100" flex-xs="100" layout-align="space-between center">
			<img ng-src="img/lensooniIta.png" width="100px" height="30px"> 
			<md-menu md-offset="0 -7">
				<md-button aria-label="Open demo menu" class="md-icon-button fixed" ng-click="$mdMenu.open($event)">
					<md-icon><i class="material-icons white">menu</i></md-icon>
				</md-button>
				<md-menu-content width="2">
					<md-menu-item>
						<a class="page-scroll" href="https://www.lensooni.it">Home</a>
					</md-menu-item>
					<md-menu-item>
						<a class="page-scroll" href="https://www.lensooni.it/iscrizione-casa">Iscrivi casa</a>
					</md-menu-item>
					<md-menu-item>
						<a class="page-scroll" href="https://www.lensooni.it/ricerca-posto">Ricerca posto</a>
					</md-menu-item>
					<md-menu-item>
						<a class="page-scroll" href="http://www.lensooni.it/blog/">Blog</a>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
      	</div>
		
		
		
		<md-toolbar hide-xs class="md-menu-toolbar" style="background-color: transparent;">
			<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
				<img ng-src="img/lensooniIta.png" width="100px" height="30px">
				<md-menu-bar>
						<button>
							<a class="page-scroll" href="https://www.lensooni.it">Home</a>
						</button>
						<button>
							<a class="page-scroll" href="https://www.lensooni.it/iscrizione-casa">Iscrivi casa</a>
						</button>
						<button>
							<a class="page-scroll" href="https://www.lensooni.it/ricerca-posto">Ricerca posto</a>
						</button>
						<button>
							<a class="page-scroll" href="http://www.lensooni.it/blog/">Blog</a>
						</button>
      			</md-menu-bar>
			</div>
	  	</md-toolbar>
		
		<div layout="column" style="background-color:#424242" layout-padding>
		<md-toolbar md-scroll-shrink class="md-hue-2" style="background-color: #ff8a65">
				<div flex="100" class="md-toolbar-tools" style="background-color: #ff8a65">
					<h2 flex="20" flex-xs="80">Fai la tua richiesta!</h2>

				<md-button class="md-fab md-mini">
					<a href="mailto:info@lensooni.it?subject=Richiesta di Alloggio&body=Ciao Lensooni, sono lo studente con email universitaria:                                              
	            	    	                                               . Ti scrivo per chiedere ...">
		            	<md-icon><i class="material-icons">message</i></md-icon>
	            	</a>
				</md-button>
				</div>
			</md-toolbar>
			
			<md-content style="height: 600px;" md-theme="altTheme">
				<section>
					<md-subheader class="md-primary">Ultimi 7 giorni</md-subheader>
					<md-list flex="100" layout-padding>
						<md-list-item flex="70" flex-xs="90" class="md-3-line" ng-repeat="ultimo in ultimi">
							<md-icon><i class="material-icons red md-48">mood</i></md-icon>
							<div class="md-list-item-text">
								<h3>{{ultimo.what}}</h3>
								<h4>{{ultimo.who}}</h4>
								<p>
									{{ultimo.notes}}
              					</p>
            				</div>
            				<md-divider></md-divider>
            				<md-icon ng-show="ultimo.done"><i class="material-icons md-48">done</i></md-icon>
						</md-list-item>
					</md-list>
    			</section>

				<section>
				  	<md-subheader class="md-warn">Ultimi 30 giorni</md-subheader>
				  	<md-list flex="100" layout-padding>
				    	<md-list-item flex="70" flex-xs="90" class="md-3-line" ng-repeat="trent in trenta">
							<md-icon><i class="material-icons md-48">sentiment_satisfied</i></md-icon>
							<div class="md-list-item-text">
								<h3>{{trent.what}}</h3>
								<h4>{{trent.who}}</h4>
								<p>
									{{trent.notes}}
				        		</p>
				      		</div>
				      		<md-divider></md-divider>
            				<md-icon ng-show="trent.done"><i class="material-icons md-48">done</i></md-icon>
					  	</md-list-item>
					</md-list>
				</section>
		
<!--
				<section>
				  <md-subheader class="md-accent">Archived messages</md-subheader>
				  <md-list layout="column" layout-padding>
				    <md-list-item class="md-3-line" ng-repeat="message in messages">
				      <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
				      <div class="md-list-item-text">
				        <h3>{{message.what}}</h3>
				        <h4>{{message.who}}</h4>
				        <p>
				          {{message.notes}}
				        </p>
				      </div>
				    </md-list-item>
				  </md-list>
				</section>
-->

			</md-content>
		</div>
	</body>
</html>